@font-face {
    font-family: Iciel;
    src: url(/Assets/Fonts/Iciel.ttf);
}

@font-face {
    font-family: Briko;
    src: url(/Assets/Fonts/Briko.ttf);
}

@font-face {
    font-family: SVN-Aleo;
    src: url(/Assets/Fonts/SVN-Aleo.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(/Assets/Fonts/Spectral.ttf);
}

@font-face {
    font-family: NorthLand;
    src: url(/Assets/Fonts/NorthLand.ttf);
}

@font-face {
    font-family: Aquus;
    src: url(/Assets/Fonts/Aquus.ttf);
}

@font-face {
    font-family: JaneAust;
    src: url(/Assets/Fonts/JaneAust.ttf);
}

*{
    margin: 0;
    padding: 0;
}