@font-face {
    font-family: Iciel;
    src: url(/Asset/Fonts/Iciel.ttf);
}

@font-face {
    font-family: Briko;
    src: url(/Asset/Fonts/Briko.ttf);
}

@font-face {
    font-family: SVN-Aleo;
    src: url(/Asset/Fonts/SVN-Aleo.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(/Asset/Fonts/Spectral.ttf);
}

@font-face {
    font-family: NorthLand;
    src: url(/Asset/Fonts/NorthLand.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../Assets/Fonts/Vollkorn.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    padding-bottom: 100px;
}

.home{
    width: 100%; 
    height: 70vh;
    transform: translateZ(0);
    overflow: hidden;
    position: absolute;
}

.backgroundcover{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(10, 0, 0, 0.75), 
    rgba(0, 10, 0, 0.75));
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.parallax{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* Title */
.title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: white;
}

@keyframes Header_Transition {
    0%{
        transform: translateY(40px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}

.title h1{
    font-family: Briko;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    animation: Header_Transition 0.6s ease-out;
}

@keyframes Description_Transition {
    0%{
        transform: translateY(60px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}

.title p{
    font-family: Iciel;
    text-transform: uppercase;
    margin: 0 2.5vw;
    padding: 0;
    color: rgb(249, 146, 146);

    animation: Description_Transition 1s ease-out;
}

.title div a button{
    color: white;
    font-size: 1.5rem;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    margin: 20 25px;
    padding: 0;
    border: 3px solid rgb(255, 96, 96);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: Iciel;
    text-transform: uppercase;

    animation: Button_Transition 1s ease-out;
}

.title div a button:hover{
    border: transparent;
    color: rgb(15, 15, 15);
}

/* Khi media lớn như pc */
@media screen and (min-width: 801px) {
    .title h1{
        font-size: 150px;
    }
    .title p{
        font-size: 20px;
        margin-bottom: 17px;
    }
  }

/* Khi media nhỏ cỡ mobile */
  @media screen and (max-width: 800px) {
    .title h1{
        font-size: 76px;
    }
    .title p{
        font-size: 10px;
        margin-bottom: 25px;
    }
  }

/* Mission */
.mission{
    transform: translateY(70vh);
    min-height: 70vh;
    position: relative;
}

.mission img{
    width: 380px;
    margin-left: 770px;
    margin-top: 35px;
    position: absolute;
}

.mission .deco{
    content: "";
    align-items: center;
    width: 322px;
    height: 322px;
    background-color: rgb(255, 96, 96);
    margin-left: 845px;
    margin-top: 20px;
    position: absolute;
}

.title2{
    position: absolute;
    transform: translateY(23vh);
    margin-left: 25px;
    text-align: right;
}

.title2 p{
    width: 650px;
    position: absolute;
    margin-top: 30px;
    font-family: Vollkorn;
}

.title2 h1{
    font-family: Iciel;
    width: 650px;
    padding-bottom: 20px;
}

.title2 h1::after{
    content: "";
    align-items: center;
    left: 549px;
    bottom: 7px;
    height: 3.3px;
    border-radius: 2px;
    width: 100px;
    background-color: rgb(255, 96, 96);
    position: absolute;
}