@font-face {
    font-family: Iciel;
    src: url(Asset/Fonts/Iciel.ttf);
}

@font-face {
    font-family: Briko;
    src: url(Asset/Fonts/Briko.ttf);
}

@font-face {
    font-family: SVN-Aleo;
    src: url(Asset/Fonts/SVN-Aleo.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(Asset/Fonts/Spectral.ttf);
}

@font-face {
    font-family: NorthLand;
    src: url(Asset/Fonts/NorthLand.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(Assets/Fonts/Vollkorn.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    padding-bottom: 100px;
}

.home{
    width: 100vw; 
    height: 90vh;
    transform: translateZ(0);
    overflow: hidden;
    position: relative;
}

.backgroundcover{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(10, 0, 0, 0.75), 
    rgba(0, 10, 0, 0.75));
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.parallax{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* Title */
.title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: white;
}

@keyframes Header_Transition {
    0%{
        transform: translateY(40px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}

.title h1{
    font-family: Briko;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    animation: Header_Transition 0.6s ease-out;
}

@keyframes Description_Transition {
    0%{
        transform: translateY(60px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}

.title p{
    font-family: Iciel;
    text-transform: uppercase;
    margin: 0 2.5vw;
    padding: 0;
    color: rgb(249, 146, 146);

    animation: Description_Transition 1s ease-out;
}

.title div a button{
    color: white;
    font-size: 1.5rem;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    margin: 20 25px;
    padding: 0;
    border: 3px solid rgb(255, 96, 96);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: Iciel;
    text-transform: uppercase;

    animation: Button_Transition 1s ease-out;
}

.title div a button:hover{
    border: transparent;
    color: rgb(15, 15, 15);
}

/* Khi media lớn như pc */
@media screen and (min-width: 801px) {
    .title h1{
        font-size: 150px;
    }
    .title p{
        font-size: 20px;
        margin-bottom: 17px;
    }
  }

/* Khi media nhỏ cỡ mobile */
  @media screen and (max-width: 800px) {
    .title h1{
        font-size: 76px;
    }
    .title p{
        font-size: 10px;
        margin-bottom: 25px;
    }
  }

.title2{
    color: rgb(73, 66, 66);
}
/* Mission */
.mission{
    height: 70vh;
    position: relative;
}

.mission::after{
    content: "";
    align-items: center;
    left: 0;
    bottom: -70px;
    height: 3px;
    border-radius: 2px;
    width: 35vw;

    /* (100 - width)/2 */
    transform: translateX(32.5vw);

    background-color: rgba(69, 65, 65, 0.2);
    position: absolute;
}

.mission img{
    width: 29.8vw;
    position: relative;
}

.mission .deco{
    content: "";
    align-items: center;
    width: 25.4vw;
    height: 25.4vw;
    left: 72px;
    bottom: 18px;
    background: linear-gradient(rgb(255, 96, 96), rgb(191, 134, 195));
    position: absolute;
}

.mission .img_container{
    position: absolute;
    margin-left: 60vw;
}

.mission .title2{
    position: absolute;
    transform: translateY(23vh);
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: right;
    padding: 10px;
    width: 50vw;
}

.mission .title2 p{
    position: absolute;
    margin-top: 30px;
    font-family: Vollkorn;
}

.mission .title2 h1{
    font-family: Iciel;
    padding-bottom: 20px;
}

.mission .title2 h1::after{
    content: "";
    align-items: center;
    float: right;
    right: 10px;
    bottom: 20px;
    height: 3.3px;
    border-radius: 2px;
    width: 100px;
    background-color: rgb(255, 96, 96);
    position: absolute;
}

/* Vision */
.vision{
    height: 70vh;
    position: relative;
    margin-top: 100px;
}

.vision::after{
    content: "";
    align-items: center;
    left: 0;
    bottom: -70px;
    height: 3px;
    border-radius: 2px;
    width: 35vw;

    /* (100 - width)/2 */
    transform: translateX(32.5vw);

    background-color: rgba(69, 65, 65, 0.2);
    position: absolute;
}

.vision img{
    width: 29.8vw;
    position: relative;
}

.vision .deco{
    content: "";
    align-items: center;
    width: 25.4vw;
    height: 25.4vw;
    right: 72px;
    bottom: 22px;
    background: linear-gradient(rgb(191, 134, 195), rgb(255, 96, 96));
    position: absolute;
}

.vision .img_container{
    position: absolute;
    margin-left: 10vw;
}

.vision .title2{
    position: ab;
    transform: translateY(23vh);
    margin-right: 3vw;
    margin-left: 45vw;
    text-align: left;
    padding: 10px;
    width: 50vw;
}

.vision .title2 p{
    position: absolute;
    margin-top: 30px;
    font-family: Vollkorn;
}

.vision .title2 h1{
    font-family: Iciel;
    padding-bottom: 20px;
}

.vision .title2 h1::after{
    content: "";
    align-items: center;
    float: left;
    left: 13px;
    bottom: 20px;
    height: 3.3px;
    border-radius: 2px;
    width: 100px;
    background-color: rgb(255, 96, 96);
    position: absolute;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease-in-out;
}
.reveal.active{
    transform: translateY(90px);
    opacity: 1;
}

/* Goal */
.goal{
    height: 70vh;
    margin-top: 150px;
}
.goal > h1{
    text-align: center;
    margin-bottom: 50px;
}

.goal p{
    width: 20vw;
}

.goal_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub_goal img{
    transform: translateX(50%);
}