@font-face {
    font-family: Iciel;
    src: url(/Assets/Fonts/Iciel.ttf);
}

@font-face {
    font-family: Briko;
    src: url(/Assets/Fonts/Briko.ttf);
}

@font-face {
    font-family: SVN-Aleo;
    src: url(/Assets/Fonts/SVN-Aleo.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(/Assets/Fonts/Spectral.ttf);
}

@font-face {
    font-family: NorthLand;
    src: url(/Assets/Fonts/NorthLand.ttf);
}

@font-face {
    font-family: Aquus;
    src: url(/Assets/Fonts/Aquus.ttf);
}

@font-face {
    font-family: JaneAust;
    src: url(/Assets/Fonts/JaneAust.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.header-container{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}

body{
    background-color: white;
}

/* Navbar */
.navbar{
    position: absolute;
    width: 80%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    height: 10vh;
}
.navbar ul.PC_navbar li{
    
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul.PC_navbar li a{
    font-family: Iciel;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(41, 40, 40);
}

.navbar ul.PC_navbar li::after{
    content: "";
    align-items: center;
    height: 3.5px;
    bottom: -8px;
    left: 0;
    /* Cái này set cho animation */
    width: 0;
    background-color: transparent;
    position: absolute;
    transition: 0.25s;
}

/* Hamburger */
.burger_container{
    height: 50px;
    width: 50px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.burger{
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    position: relative;
    transition: all 0.35s ease-in-out;
}

.burger::before, .burger::after{
    content: "";
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.35s ease-in-out;
}

.burger::before{
    transform: translateY(-8px);
}

.burger::after{
    transform: translateY(8px);
}

.burger_container.open .burger{
    transform: translateX(-20px);
    background-color: transparent;
}

.burger_container.open .burger::before{
    transform: rotate(45deg) translate(20px, -19.5px);
}

.burger_container.open .burger::after{
    transform: rotate(-45deg) translate(20px, 19.5px);
}

.burger_menu{
    position: absolute;
    width: 100vw;
    display: block;
    background-color: transparent;

    /* Chỉnh dựa trên height của .Logo với 1/2 height của burger_menu */
    transform: translateX(0) translateY(120px);
    transition: all ease-in-out .5s;
}

.burger_menu ul.mobile_navbar li{
    text-align: center;
    list-style: none;
    display: block;
    padding: 10px;
}

.burger_menu ul.mobile_navbar li a{
    font-family: Iciel;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    transition: all 0.15s ease-in-out;
}

.burger_menu.open{
    background-color: rgb(41, 40, 40);
    transform: translateY(110px);
    transition: all 0.5s ease-in-out;
}

.burger_menu.open ul.mobile_navbar li a{
    color: white;
    transition: all 0.15s ease-in-out;
}

.burger_menu.open ul.mobile_navbar li a:hover{
    color: rgb(164, 223, 250);
}

@keyframes Header_Transition {
    0%{
        transform: translateY(40px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes Description_Transition {
    0%{
        transform: translateY(60px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes Button_Transition {
    0%{
        transform: translateY(100px);
        color: transparent;
    }
    100%{
        transform: translateY(0%);
    }
}

/* Khi media lớn như pc */
@media screen and (min-width: 801px) {
    .burger_container{
        display: none;
    }
    .navbar ul.PC_navbar li a {
        font-size: 15px;
    }
    .navbar ul.PC_navbar li:hover::after{
        width: 100%;
        background-color: rgb(255, 114, 114);
    }
    .navbar ul.PC_navbar li a:hover{
        color: rgb(93, 162, 219);
    }
    .burger_menu{
        display: none;
    }
  }
/* Chỉnh cỡ  navbar cho phù hợp  */
  @media screen and (max-width: 1080px) {
    .navbar ul.PC_navbar li a {
        font-size: 15px;
      }
    .navbar ul.PC_navbar li::after{
        height: 4px;
    }
  }

  @media screen and (max-width: 1020px) {
    .navbar ul.PC_navbar li a {
        font-size: 13px;
      }
      .navbar ul.PC_navbar li::after{
        height: 3.3px;
    }
  }

/* Khi media nhỏ cỡ mobile */
  @media screen and (max-width: 800px) {
    .navbar ul.PC_navbar li a, .navbar ul.PC_navbar li::after {
        display: none;
    }
    .Logo{
        width: 60px;
        height: auto;
        content: url("LogoWhite.png");
        margin-left: 25px;
    }
    .navbar{
        background-color: rgb(41, 40, 40);
        height: 1vh;
        width: 100vw;
    }
  }
